if posts
    each post in posts
        if post.author
            h3 Written by #{post.author}
        
        a(href=`blog/${post._id}`)
            h2= post.title

            - if(post.content.length > 100) post.content = `${post.content.slice(0, 100)}...`;
            p= post.content
else
    h2 No posts to display.