if posts.length > 0
    each post in posts
        if post.author
            h4.text-center Written by #{post.author}
        
        a(href=`blog/${post._id}`)
            h2.text-center.text-dark= post.title

        - if(post.content.length > 100) post.content = post.content.slice(0, 100);
        p= post.content + '... '
            a(href=`blog/${post._id}`) Read more.
else
    h2.text-center No posts to display.